html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.4rem;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  background-color: #fff;
  -webkit-padding-before: 0.4rem;
          padding-block-start: 0.4rem;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

hr {
  display: block;
  width: 100%;
}

.border-round {
  border-radius: 50%;
}

.inl-block {
  display: inline-block;
}

.close {
  display: none !important;
}

.menu-links {
  cursor: pointer;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .1rem;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__subitems {
  display: inline-block;
  margin: .1rem .4rem;
  padding: .4rem .4rem;
}

.nav__gmail {
  -webkit-margin-start: 1rem;
          margin-inline-start: 1rem;
  -webkit-padding-end: 0.8rem;
          padding-inline-end: 0.8rem;
  -webkit-padding-start: 0.8rem;
          padding-inline-start: 0.8rem;
  text-align: center;
  background-color: #066d1b;
}

.nav__gmail a:-webkit-any-link {
  color: #fff;
}

.nav__gmail a:-moz-any-link {
  color: #fff;
}

.nav__gmail a:any-link {
  color: #fff;
}

.nav__hidden {
  background-color: #fff;
  position: absolute;
  height: 100vh;
  top: -0.6rem;
  left: -.6rem;
  padding: 1.5rem 0.9rem 0 1.5rem;
  border-right: 0.1rem solid #868686;
  -webkit-transform: translateX(-30rem);
          transform: translateX(-30rem);
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
}

.nav__hidden > * > a:-webkit-any-link {
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
  display: block;
  background-image: linear-gradient(125deg, rgba(124, 124, 124, 0.959), rgba(121, 118, 118, 0.667), rgba(114, 114, 114, 0.667));
  background-clip: text;
  color: transparent;
  font-size: 1.8rem;
}

.nav__hidden > * > a:-moz-any-link {
  margin-block-start: 2rem;
  margin-block-end: 2rem;
  display: block;
  background-image: linear-gradient(125deg, rgba(124, 124, 124, 0.959), rgba(121, 118, 118, 0.667), rgba(114, 114, 114, 0.667));
  background-clip: text;
  color: transparent;
  font-size: 1.8rem;
}

.nav__hidden > * > a:any-link {
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
  display: block;
  background-image: linear-gradient(125deg, rgba(124, 124, 124, 0.959), rgba(121, 118, 118, 0.667), rgba(114, 114, 114, 0.667));
  background-clip: text;
  color: transparent;
  font-size: 1.8rem;
}

.nav__hidden-home {
  display: inline-block;
  font-size: 2rem;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, blue), color-stop(30%, red), color-stop(50%, yellow), color-stop(70%, blue), color-stop(80%, green), to(red));
  background-image: linear-gradient(90deg, blue 10%, red 30%, yellow 50%, blue 70%, green 80%, red);
  background-clip: text;
  color: transparent;
  letter-spacing: .1rem;
}

.nav__hidden.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 100;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 2.5rem;
  gap: 2.5rem;
  padding: 3rem 2.5rem;
  width: 25rem;
  background-color: rgba(134, 134, 134, 0.7);
  position: absolute;
  top: 4rem;
  right: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.5rem;
  z-index: 101;
  background-color: #fff;
}

.grid > li > a:-webkit-any-link {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  color: #000a;
}

.grid > li > a:-moz-any-link {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #000a;
}

.grid > li > a:any-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000a;
}

.grid > li > a:-webkit-any-link > div {
  inline-size: 3rem;
  text-align: center;
  font-size: 3.4rem;
}

.grid > li > a:-moz-any-link > div {
  inline-size: 3rem;
  text-align: center;
  font-size: 3.4rem;
}

.grid > li > a:any-link > div {
  inline-size: 3rem;
  text-align: center;
  font-size: 3.4rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 4rem;
  -webkit-margin-before: 5rem;
          margin-block-start: 5rem;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  inline-size: 60%;
}

.footer {
  background-color: #f2f2f2;
  color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  position: absolute;
  bottom: 0;
}

.footer > * {
  inline-size: 100%;
  -webkit-border-after: .1rem solid #e4e4e4;
          border-block-end: .1rem solid #e4e4e4;
  padding: 1rem 1.5rem;
}

.footer__others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__others > * {
  -webkit-border-after: .1rem solid #e4e4e4;
          border-block-end: .1rem solid #e4e4e4;
  padding: 1rem 1.5rem;
  width: 100%;
  text-align: center;
}

.footer__utilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-border-after: none;
          border-block-end: none;
}

.footer__utilities > * {
  margin-left: 10px;
  margin-right: 10px;
}

.footer a:-webkit-any-link {
  color: #222;
}

.footer a:-moz-any-link {
  color: #222;
}

.footer a:any-link {
  color: #222;
}

.form {
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

.form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.form span {
  position: absolute;
  display: block;
  inline-size: 1.5rem;
  block-size: 1.5em;
  top: 0.6rem;
  left: 4.4rem;
}

.form img {
  max-width: 100%;
}

input[type='search'] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 0.1rem solid #868686;
  border-radius: 3rem;
  display: block;
  font-family: inherit;
  inline-size: 80%;
  height: 2.8rem;
  -webkit-padding-start: 3rem;
          padding-inline-start: 3rem;
  background-image: url("../svg/1-search.svg");
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: left 2.5% center;
}

input[type='search']:focus, input[type='search']:hover {
  -webkit-box-shadow: 0.2rem 0.25rem 0.4rem rgba(134, 134, 134, 0.7);
          box-shadow: 0.2rem 0.25rem 0.4rem rgba(134, 134, 134, 0.7);
}

.toggle-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: transparent;
  inline-size: 2.3rem;
  block-size: 2.3rem;
  position: relative;
  cursor: pointer;
}

.toggle-btn::before {
  position: absolute;
  content: "\2261";
  font-size: 2.4rem;
  top: -0.3rem;
  left: 0.2rem;
}

.svg__con {
  display: inline-block;
  inline-size: 2rem;
  block-size: 2rem;
  -webkit-margin-end: 2rem;
          margin-inline-end: 2rem;
  vertical-align: -0.5rem;
}

.svg__con:last-child {
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

.svg__label {
  display: inline-block;
  -webkit-margin-end: .8rem;
          margin-inline-end: .8rem;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-margin-after: 5rem;
          margin-block-end: 5rem;
}

.language > *:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  inline-size: 100%;
  padding: 0.5rem 1rem;
}

.language > *:nth-child(2) a:-webkit-any-link {
  color: rgba(50, 50, 184, 0.822);
}

.language > *:nth-child(2) a:-moz-any-link {
  color: rgba(50, 50, 184, 0.822);
}

.language > *:nth-child(2) a:any-link {
  color: rgba(50, 50, 184, 0.822);
}
/*# sourceMappingURL=index.css.map */